body{
    background-color: gray;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
p{
    color: orange;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}